<h1>{{ beersFromApi.name}}</h1>

<li>
    <img src="{{beersFromApi.image_url}}" alt="theBeer" width="50px">
    <p>{{beersFromApi.description}}</p>
    <p>{{beersFromApi.tagline}}</p>
    
</li>





